html{
	font-size: 4vw;
}
.jd_layout{
           width: 100%;
           max-width: 640px;
           min-width: 320px;
           background-color: #f1f1f1;
           margin:0 auto;
           height: 100%;
           overflow: hidden;
           box-sizing: border-box;
           position: relative;
		}
		.jd_search{
			width: 100%;
			height: 40px;
			background:#e92322;
			position: fixed;
			top:0;
			left: 50%;
			transform: translateX(-50%);
			max-width: 640px;
			z-index: 99;

		}
		.jd_logo{
			width: 70px;
			height: 40px;
			display: block;
			position: absolute;
			top:0;
			left: 0;
			background: url("../images/logo1.png") no-repeat;
			background-size: 35% 50%;
			background-position: 25px 10px;
		}
		.jd_searchBox{
			margin:0 70px;
			height: 100%;
			position: relative;
		}
		.jd_searchBox span{
			display: inline-block;
			width: 25px;
			height: 100%;
			position: absolute;
		}
		.jd_searchBox .line{
			display: inline-block;
			width: 1px;
			height: 50%;
			border-left: 1px solid #ccc;
			position: absolute;
			left: 26px;
			top: 10px; 
		}
		.jd_searchBox span:first-child{
			left: 25px;
			top: 0;
			background: url("../images/jd-sprites_c4019063all.png") no-repeat;
			background-size: 800%;
			background-position: -116px 12px;
		}
		.lastSpan{
			left: 0;
			top: 0;
			background: url("../images/jd-sprites_c4019063all.png") no-repeat;
			background-size: 800%;
			background-position: 2px 11px;
		}
		
		.jd_searchBox input{
			width: 100%;
			height: 80%;
			margin-top: 4px;
			border-radius: 15px;
			padding-left: 60px;
		}
		.jd_login{
			width: 70px;
			height: 40px;
			display: block;
			position: absolute;
			top:0;
			right: 0;
			line-height: 40px;
			color: #fff;
			text-align: center;
		}
		.jd_banner{
			margin-top: 50px;
			width: 100%;
			overflow: hidden;
			position: relative;
			box-sizing: border-box;
		}
		.jd_bannerImg{
			position: relative;
		}

		.jd_bannerImg li{
			width: 14.28%;
			float:left;
			padding: 0 15px;

		}
		.jd_bannerImg img{
			width: 100%;
			border-radius: 10px;
			display: block;
			overflow: hidden;
		}
		.jd_indicators{
			width: 105px;
			height: 10px;
			position: absolute;
			left: 50%;
			bottom: 0px;
			transform: translateX(-50%);

		}
		.jd_indicators li{
			width: 5px;
			height: 2px;
			float: left;
			margin-left: 8px;
			background:rgba(255,255,255,.5);
		}
		.jd_indicators li:first-of-type{
			margin-left: 0;
		}
		.jd_indicators .active{
			width: 10px;
			background: rgba(255,255,255,1);
		}
		.jd_nav{
			width: 100%;
			height: 14.6rem;
			max-height: 220px;
			/*border:1px solid red;*/
			position: relative;
		}
		.jd_navBox{
			position: relative;
			width: 200%;
			top:6%;
			left: 0;

		}
		.page-1,.page-2{
	 		float: left;
	 		/*border:1px solid red;*/
	 		width: 50%;
		}
		.pageul-1 li{
			width: 20%;
			height: 70px;
			float: left;
			/*border:1px solid green;*/
			text-align: center;
			
			margin-top: 20px;
			
		}
		.pageul-2 li{
			width: 20%;
			height: 70px;
			float: left;
			/*border:1px solid green;*/
			text-align: center;
			margin-top: 20px;
			
		}

		.pageul-1 img,.pageul-2 img{
			display: block;
			width: 50%;
			margin:0 auto;
		}
		.pageul-1 span,.pageul-2 span{
			display: block;
			font-size: 14px;
			color: #666666;
			margin-top: 5px;
		}
		.jd_indicators2 .active{
			width: 10px;
			border-radius: 20%;
			background: rgba(237,115,117,1);
		}
		.jd_indicators2{
			width: 33px;
			height: 10px;
			position: absolute;
			left: 50%;
			bottom: 0px;
			transform: translateX(-50%);
			/*border:1px solid red;*/
		}
		.jd_indicators2 li{
			width: 5px;
			height: 5px;
			border-radius: 50%;
			float: left;
			margin-left: 8px;
			background:rgba(0,0,0,.3);
		}
		.pduset{
			padding: 0 15px;
		}
		.jd_productms{
			width: 100%;
			
			height: 11rem;
			max-height: 196px;
			/*border:1px solid red;*/
			background-color: #fff;
			border-radius: 10px;
			
			

		}
		.ms{
			background: url("../images/productmsbg.png") no-repeat;
			width: 100%;
			height: 55px;
			/*border:1px solid pink;*/
			background-size: 100% 100%;
			
		}
		.jdms{
			width: 25%;
			height: 100%;
			float: left;
			/*border:1px solid red;*/
			background: url("../images/ms.png") no-repeat 0px 10px;
			background-size: 100% ;

		}
		.mstime{
			width: 40%;
			height: 100%;
			float: left;
		/*	border:1px solid red;*/
			line-height: 40px;
		}
		.mstime span{
			display: inline-block;
		}
		.mstime span:first-child{
			font-weight: bold;
			font-size: 12px;
		}
		.mstime span:nth-child(2),.mstime span:nth-child(4),.mstime span:nth-child(6){
			width: 14px;
			height: 14px;
			font-size: 12px;
			line-height: 14px;
			border:1px solid #ccc;
		}
		.morems{
			float: right;
			width: 80px;
		}
		.morems a{
			background: url("../images/arrow_rt_2ccb8cd5ms.png") no-repeat center right;
			background-size: 20% 100%;
			color:#e92322;
			height: 100%;
			line-height: 55px;
			padding-right: 28%;
			font-size: 12px;

		}
		.pdu{
			width: 100%;
			/*border:1px solid red;*/
			position: relative;
		}
		.pdu li{
			width: 20%;
			/*border: 1px solid red;*/
			float: left;
			text-align: center;
			margin-left: 10px;
		}
		.pdu li a img{
			width: 80%;

		}
		.pdu li a span{
			display: block;
		}
		.oldPrice{
			text-decoration: line-through;
		}
		.newPrice{
			font-weight: bolder;
			color:#e92322;
		}
		.checkAll{
			background:url(../images/jd-sprites_c4019063all.png) no-repeat;
			height: 75px;
			background-position: -83px -85px;
			padding-top: 10px;
			background-size:1000%; 
			width: 16px;
			position: absolute;
			top:0;
			right: 0;
			/*border:1px solid red;*/
			background-color:#efe8e8;
			text-align: center;

		}
		.checkAll span{
			color:#5b5b5b;
			font-size:12px;
		}
		.pduset2{
			padding: 0 15px;
			margin-top: 10px;
		}

		.jd_productms2{
			width: 100%;
			height: 8rem;
			max-height: 200px;
			/*border:1px solid red;*/
			overflow: hidden;
			border-radius: 10px;
		}
		.jd_productms2Box1,.jd_productms2Box2{
			width: 50%;
			height: 100%;
			float: left;

		}
		.jd_productms2Box1{
			background: url("../images/aba2bcb4855e6e52.png!q70.jpg") no-repeat;
			background-size: 100% 100%;
		}
		.jd_productms2Box2{
			background: url("../images/9c53e25651659d43.png!q70.jpg") no-repeat;
			background-size: 100% 100%;
		}
		.njbg,.mrbg{
			width: 100%;
			height: 2rem;
			max-height: 50px;
			padding:0 50px;
		}
		.pduset3{
			padding: 0 15px;
		}
		.jd_productms3{
			width: 100%;
			height: 13.5rem;
			max-height: 340px;
			border-radius: 10px;
			overflow: hidden;
			/*border:1px solid red;*/
		}
		.jd_productms3Box1,.jd_productms3Box2ul{
			width: 100%;
			height: 50%;
			border-bottom: 1px solid #ede9e9;
			background-color: #fff;
		}
		.jd_productms3Box1ul{
			width: 100%;
			height: 100%;
		}
		.jd_productms3Box2{
			width: 100%;
			height: 50%;
			/*border-top: 1px solid #ede9e9;*/
		}
		.jd_productms3Box2ul{
			width: 100%;
			height: 100%;
		}
		.jd_productms3Box1ul li{
			width: 50%;
			height: 100%;
			/*border: 1px solid red;*/
			float: left;
			padding:5px 5px;
			
		}
		.jd_productms3Box1ul li:first-child{
			border-right: 1px solid #ede9e9;
		}
		.imgBox1,.imgBox2{
			width: 100%;
			margin-top: .5rem;
			/*border:1px solid blue;*/
		}
		.imgBox1 a,.imgBox2 a{
			width: 50%;
			
		}
		.imgBox1 img,.imgBox2 img{
			width: 30%;
			margin-left:15px;
			display: block;
			float: left;
		}
		.textBox1 span,.textBox2 span{
				font-size: .8rem;
				font-weight: bolder;
				background-image:-webkit-linear-gradient(right,#1471fb,#45caff); 
    			-webkit-background-clip:text; 
    			-webkit-text-fill-color:transparent; 
		}
		.textBox1 p,.textBox2 p,.jd_productms3Box2ul  p{
			color: #686868;
			font-size: .6rem;
		}
		.jd_productms3Box2ul li{
			width: 25%;
			height: 100%;
			float: left;
			padding: 5px 5px;
			border-right: .5px solid #ede9e9;
		}
		.jd_productms3Box2ul li:last-child{
			border-right: none;
		}
		.jd_productms3Box2ul li span{
			font-size: .8rem;
			font-weight: bolder;
		}
		.jd_productms3Box2ul li img{
			width: 80%;
		}
		.bottomFoot{
			width: 100%;
			height: 3.2rem;
			max-height:85px;
			position: fixed;
			bottom: 0;
			background-color: #fff;
			left: 50%;
			transform: translateX(-50%);
			max-width: 640px;
			z-index: 99;
		}
		.bottomFootul{
			height: 100%;
			width: 100%;
		}
		.bottomFootul li{
			width: 20%;
			height: 100%;
			/*border:1px solid red;*/
			float: left;
		}
		.bottomFootul li img{
			width: 100%;
			height: 100%;
		}



